nav
  ul(class='nav nav-justified')
    li
      a(href='/home') Home
    li
      a(href='/amigos') Amigos
    li
      a(href='/usuarios') Usuários
    li
      a(href='/email') Entrar em Contato
    li
      a(href='/logout') #{session.nome} [sair]
